/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* My CSS */
body{
    font-family: 'Poppins', sans-serif !important;
}
#banner {
    margin-top: 69px;
} 
img {
    width: 100%;
    height: auto;
  }
#Section2 {
    padding: 45px 0px;
}
.mainHeading {
    font-size: 72px;
    color: #7F287E;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.subHeading {
    font-size: 39px;
    line-height: 46px;
    color: #7F287E;
    font-weight: 500;
    font-style: italic;
    text-transform:uppercase;
}
.paraMain {
    font-size: 24px;
    line-height: 33px;
    margin-top: 20px;
    color: #000;
}
.points{
    margin-top: 30px;
}
.points>p{
    display: flex;
}
.points>p>span{
    margin-top: 10px;
    color:#000;
    font-size: 24px;
    line-height: 20px;
}
.points>p>img{
    width: 16px;
    margin-right: 10px;

}
.learnMoreBtn {
    background-color: #27AB4F !important;
    border-radius: 22px !important;
    border-color: #27AB4F !important;
    margin-top: 20px;
    position: relative;
    width: 320px;
    max-width: 320px;
}
.learnMoreBtn>a {
    font-size: 27px;
    color: #fff !important;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
}
.lastPara{
    font-size: 26px;
    line-height: 33px;
    margin-top: 20px;
    color: #000;
}